# PostgreSQL Config
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=example_database
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# PgAdmin Config
PGADMIN_DEFAULT_EMAIL=example@example.com
PGADMIN_DEFAULT_PASSWORD=example_password

## Cors config
ALLOWED_ORIGINS=http://localhost,http://localhost:8080,http://localhost:3000